@charset "utf-8";
/* CSS Document */

.preview-slider .astriol-pagination .swiper-pagination-bullet {
    text-align: right;
	padding: 15px 20px;}

.pricing-table .price-feature {
    margin-bottom: 45px;
    padding: 0;
    list-style: none;
    -moz-text-align-last: left;
    text-align-last: right;
}

#footer-main .site-info .copyright p {

    text-align: right;
}

body {
	font-family: cairo;}

h1, h2, h3, h4, h5, h6 {
    font-family: cairo;
}

.gp-site-footer {
    position: relative;
    text-align: right;
}

.icon-box.style-one .box-content .box-title {
    color: #212d46;
    text-align: right;
}

.icon-box .box-content p {
    font-size: 16px;
    margin: 0;
    text-align: right;
}

.section-heading.style-four .section-title {
    color: #212d46;
    font-size: 34px;
}


.page-banner .page-title-wrapper .breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    direction: rtl;
}
.page-banner .page-title-wrapper .breadcrumbs li:not(:last-child):before {
    content: ">";
    position: absolute;
    left: -65px;
    top: 0;
}
.page-banner .page-title-wrapper .breadcrumbs li {
    display: inline-block;
    color: #bbbbd6;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
}

.about-content-wrapper .about-title {
    font-size: 39px;
    line-height: 50px;
    color: #373d46;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: right;
}

.about-content-wrapper p {
    margin-bottom: 36px;
    text-align: right;
}

.about-content-wrapper .icon-lists.color-theme li i {
    color: #1abf68;
    float: right;
}

.icon-lists li {
    font-size: 18px;
    text-align: right;
    line-height: 35px;
}
.icon-list-box .content p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    text-align: right;
}
.image-content-wrapper .title {
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
    margin-bottom: 22px;
    text-align: right;
}

.listitem {
    margin-bottom: 48px;
    padding: 0;
    list-style: none;
    text-align: right;
}


.page-banner-two .page-title-wrapper .page-title {
    font-size: 30px;
    color: #2c2c51;
    font-weight: 700;
    margin: 0;
    text-align: right;
}

.page-banner-two .page-title-wrapper .breadcrumbs {
   direction: rtl;
    float: right;
}

.page-banner-two .page-title-wrapper .breadcrumbs li:not(:last-child):before {
    content: ">";
    position: absolute;
    left: -17px;
	direction: rtl;
    top: 0;
}

.contact-information {
    background: #fafafc;
    padding: 50px;
    text-align: right;
}

.gp-btn.btn-submit {
    background: #1abf68;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 10px 27px;
    float: right;
}

.address-box.style-border {
    border: 2px solid #1abf68;
    border-radius: 6px;
    text-align: right;
}

.address-box {
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    text-align: right;
}

.page-banner-three .page-title-wrapper .page-title {
    font-size: 50px;
    color: #2c2c51;
    font-weight: 700;
    margin: 0;
    text-align: right;
}


.page-banner-three .page-title-wrapper .breadcrumbs li:not(:last-child):before {
    content: ">";
    position: absolute;
    left: -17px;
    direction: rtl;
    top: 0;
}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    float: right;
}


.image-content-wrapper.style-two .lead-text {
    text-align: right;
}

.image-content-wrapper p {

    text-align: right;
}


.page-banner-three .page-title-wrapper .breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    direction: rtl;
    float: right;
}


.float {
    float: right;
}


.icon-box .box-content .box-title {
    text-align: right;
}

.icon-box .icon-container {
    margin-bottom: 40px;

}

.icon-box.style-three {
    height: 567px !important;
}
.mobile-header.header-sass .nav-right {
    border: 0;
    padding: 0;
    float: left;
    position: relative;
    bottom: 10px;
}

.site-header .astriol-burger-menu span {
    background: #2c2c51;
    height: 2px;
    display: block;
    margin-right: auto;
}


.mobile-header .main-nav .astriol-main-menu {
    text-align: right;
    padding-left: 0;
}
